.CardTitle {
  border: 0px solid @base_color;
  border-radius: 6px 10px 0 0;
  background-color: @base_color;
}

.PinBox {
  border: 1px solid darker(@base_color);
  border-radius: 6px;
}

.HistoryBox {
  border-bottom: 1px solid darker(@base_color);
}

.CategoryButton {
  border: 0px solid #000;
  border-radius: 0px;
}

.PinTextView {
  border-top: 1px solid darker(@base_color);
}

.MainScrollView {
  border-left: 1px solid darker(@base_color);
  border-right: 1px solid darker(@base_color);
}

.Sidebar {
  background-color: @base_color;
}
